@import "src/styles/variables.scss";
@import "src/styles/animations.scss";

@keyframes circle-slide {
  0% {
    cy: -50;
  }

  100% {
    cy: 200;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  padding-bottom: spacing("l");

  h2 {
    position: sticky;
    left: 0;
    right: 0;
  }

  .map {
    width: 95vw;
    min-width: 1500px;
    min-height: 700px;
    margin: 0 auto;
    margin-top: spacing("xl");
    user-select: none;

    path {
      fill: color("primary");
      transition: .3s;

      @for $i from 1 through 250 {
        &:nth-child(#{$i}) {
          @include appear(#{$i * 0.02 + 1}s);
        }
      }

      cursor: pointer;

      &::before {
        content: attr(id);
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: red;
      }

      &:hover {
        fill: color("primary-dark");
      }
    }

    circle {
      @include appear(5s);
    }
  }
}