@import "src/styles/variables.scss";
@import "src/styles/animations.scss";


.skills {
  padding-bottom: spacing("l");
  color: color("white");
  height: 100vh;
  overflow: scroll;

  .codeContainer {
    @include slide-bottom(2.5s);
    height: 500px;
    max-height: 90%;
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: spacing("l");
  }
}

@include breakpoint(sm down) {
  .skills {
    .codeContainer {
      padding: 0;
      margin-top: 0;
      width: 100%;
      max-width: 100%;
      padding-bottom: spacing("xl");
    }
  }
}