@import "src/styles/variables.scss";
@import "src/styles/animations.scss";


.skills {
  padding-bottom: spacing("l");
  color: color("white");
  height: 100vh;
  overflow: scroll;

  .codeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: spacing("l");
    padding: 0 spacing("l");
    flex-wrap: wrap;
    min-height: 80vh;

    &>div:first-child {
      @include slide-bottom(2.5s);
    }

    &>div:last-child {
      @include slide-bottom(3s);
    }
  }
}